/* Breakpoints */
$extra-small-screen: 320px;
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1024px;
$wide-screen: 1200px;


/* Grid */
$grid-columns: 12;
$grid-gutter-width: 30px;


/* Colours */
// brand

// general
$black: #000;
$grey-light: #ccc;
$grey-medium: #999;
$grey-dark: #333;
$red: #ff0000;
$white: #fff;

// style
$background: $white;
$copy: $grey-dark;
$error-message: $red;
$placeholder-copy: $grey-medium;


/* Animation */
$transition-duration: 0.25s;
$transition-easing: ease-out;


/* Fonts */
$body-copy: Helvetica, Arial, sans-serif;
$heading-copy: $body-copy;
